@import "../../styles/theme/";
.item {
    border-radius: 3px 10px 10px 3px;
    padding: 1%;
    cursor: pointer;
    &:hover{
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        transform: scale(1.05);
        //filter: opacity(22px)
    }
}
